body {
    font-size: 16px;
    line-height: 1.5;
    margin: auto 1rem;
    background-color: #303030;
    display: flex;
    flex-flow: column nowrap;
    align-content: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-content: center;
    margin: 1rem;
}

h1 {
    align-self: center;
    color: white;
}

picture {
    display: flex;
    flex-flow: column nowrap;
    /* align-content: center; */
    margin: 1rem;
}

img {
    align-self: center;
}

/* img {
    align-self: center;
    filter: blur(0em);
    transition: filter 0.5s;
}

img[data-src] {
    filter: blur(0.2em);
} */

