body {
    font-size: 12px;
    line-height: 1.5;
    background-color: #303030;
}

header,
nav,
main,
footer {
    margin: 1.25rem auto;
    max-width: 800px;
}

header {
    padding: 1.5rem;
    display: grid;
    grid-template-rows: 80% 20%;
    align-items: center;
    justify-items: center;
}

header,
footer {
    background-color: green;
    color: #e8eaed;
    text-align: center;
}

footer {
    padding: 0.5rem 1.5rem;
}

h1 {
    font-family: 'Bungee Spice', sans-serif;
}

h2,
h3,
h4 {
    font-family: 'Cairo', sans-serif;
    color: white;
}

p {
    font-family: 'Roboto Condensed', sans-serif;
    color: #e8eaed;
}

a {
    color: #C44900;
}

#card-container {
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.card {
    margin: 1rem 1rem;
    border: 1px solid #e8eaed;
}

.card h4,
.card p,
.card img {
    padding: 0 1em 0 1em;
}

.card h3 {
    background-color: #00800083;
    margin: 0;
    padding: 1em;
    font-size: 1rem;
}