@media only screen and (min-width: 45rem) {
    body {
        font-size: 16px;
        line-height: 1.5;
    }
    
    header {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    header h1 {
        align-self: center;
        color: #333333;
        background: #ffffff;
    }
    
    nav {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    
    nav img {
        max-width: 8rem;
    }

    
    .motives-subcontainer {
        grid-column: 1/3;
        grid-row: 4/5;
        margin: 1vw 2vw;
        padding: 1vw 3vw;
        max-width: 100%;
        background-color: #575757;
    }
    
    .motives-subcontainer hr {
        margin: 3vw auto;
        width: 50%;
    }
}
