body {
    font-size: 16px;
    line-height: 1.5;
    background-color: #4e4e4e;
}

header,
nav,
footer {
    margin: 1.25rem auto;
    max-width: 100%;
}

main {
    /* max-width: 97%; */
    max-width: 1200px;
    margin: auto;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    color: #FCBA03;
    background-color: #132947;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    color: white;
}

p {
    font-family: 'Cabin', sans-serif;
    font-weight: normal;
    color: white;
}

/* ====================== BANNER ======================*/
.banner {
    margin: 0 auto;
    max-width: 900px;
}

.banner p {
    margin: 0;
    padding: .5rem 0;
    font-size: 1rem;
    text-align: center;
    color: black;
    background-color: #FCBA03;
}

/* ====================== HEADER ======================*/
header {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    background-color: #132947;
}

a:link,
a:visited {
    text-decoration: none;
}

a:hover,
a:active {
    text-decoration: underline;
    background-color: #224576;
}

/* ++++++++ CONTACT +++++++++ */
.contact {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 1.25vw;
    background-color: #1b1b1b;
    font-family: 'Cabin', sans-serif;
    font-weight: normal;
}

.contact div {
    font-size: 2.5vw;
    color: white;
    letter-spacing: .75px;
}

.contact a {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.contact img {
    max-width: 4vw;
    align-self: center;
}
/* ////////// end CONTACT */

/* ++++++++ NAV BAR +++++++++ */
.logo-hamburgerbtn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo-hamburgerbtn a {
    margin: 5vw 2%;
    max-width: 4rem;
    object-fit: contain;
}

.logo-hamburgerbtn a img {
    /* margin: 5vw 2%; */
    max-width: 4rem;
    object-fit: contain;
}

.logo-hamburgerbtn h1 {
    align-self: center;
    margin: 5vw 2%;
    font-size: 1rem;
    color: white;
}

.logo-hamburgerbtn div {
    align-self: center;
}

.logo-hamburgerbtn div button {
    margin: 5vw 3vw;
    border: none;
    font-size: 6vw;
    color: white;
    background-color: transparent;
}
/* ////////// end NAV BAR */

/* ++++++++ NAV +++++++++ */
nav {
    display: none;
}

nav ul {
    display: none;
    padding-left: 0;
}

nav.open {
    display: block;
    margin: 0;
}

nav ul.open {
    display: block;
    margin: 0;
    list-style-type: none;
}

nav a:link,
nav a:visited {
    color: white;
}

nav ul li {
    margin: 0;
    border-top: 1px solid white;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
}

nav ul li a {
    display: block;
    padding: 3vw 0;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.1);
}
/* ////////// end NAV */

/* ++++++++ CURRENT DATE +++++++++ */
.date-container {
    padding: .5vw;
    color: white;
    background-color: #1b1b1b;
    text-align: center;
    font-size: 3vw;
    font-family: 'Cabin', sans-serif;
    font-weight: normal;
}
/* ////////// end CURRENT DATE */

/* ///////////////////////////////////////// end HEADER */

/* ====================== MAIN ======================*/


/* ------------------ ALL CARDS ------------------*/
main.home div,
main.discover div,
main.join div,
main.thankyou div {
    border: 1px solid black;
    box-shadow: 0 .5rem 1rem 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

main.home div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 5%;
}

main div button {
    padding: 1.5vw 5vw;
    margin: 4vw;
    border: none;
    font-size: 1.25rem;
    background-color: #FCBA03;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
}

main div h2 {
    width: 100%;
    text-align: center;
    margin: 0 auto auto auto;
    line-height: 2.25;
}

main div h3 {
    text-align: center;
    margin: 2.5rem 5%;
}
/* ////////// end ALL CARDS */

/* ++++++++ HERO CARD +++++++++ */
div.hero-card {
    position: relative;
}

.hero-card h1 {
    position: absolute;
    top: 8vw;
    text-align: center;
    color: white;
    font-size: 1.3rem;
    line-height: 1;
    margin: 0;
    padding: .5rem 1%;
}

.hero-card h2 {
    position: absolute;
    top: 18vw;
    margin: auto;
    font-size: .9rem;
    line-height: normal;
    text-align: center;
    font-family: 'Cabin', sans-serif;
    font-weight: normal;
    color: white;
    background-color: transparent;
}

/* WEEK 5 */
.hero-card img {
    max-width: 100%;
}

/* WEEK 6 */
/* .hero-card picture {
    width: 100%;
} */

.hero-card img {
    width: 100%;
    /* height: 100%; */
    /* border: 1px orange dashed; */
    object-fit: cover;
}

.hero-card button {
    position: absolute;
    top: 25vw;
}
/* ////////// end HERO CARD */

/* ++++++++ EVENT CARD +++++++++ */
.event-card p {
    margin: 4vw 3vw;
    text-align: justify;
}
/* ////////// end EVENT CARD */

/* ++++++++ WEATHER CARD +++++++++ */
main.home div.weather-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

.weather-card h2 {
    grid-column: 1/3;
}

.weather-card img:nth-of-type(1) {
    max-width: 100%;
    width: 35vw;
}

.temperature {
    font-size: 15vw;
    color: white;
    margin: 1vw;
}

.forecast {
    grid-column: 1/3;
    justify-self: end;
    margin: 0 5vw 0 0;
    font-size: 7vw;
    color: white;
}

.weather-card hr {
    grid-column: 1/3;
    width: 90%;
}

.weather-card table {
    grid-column: 1/3;
    color: white;
    margin: 1vw 1vw 3vw 1vw;
    font-family: 'Cabin', sans-serif;
    font-weight: normal;
    justify-self: stretch;
    text-align: center;
}
/* ////////// end WEATHER CARD */

/* ++++++++ NEWS CARD +++++++++ */
.news-card p {
    margin: 4vw 3vw;
    text-align: justify;
}

/* ////////// end NEWS CARD */

/* ++++++++ JOIN CARD +++++++++ */
main.home div.join-card {
    display: none;
}
/* ////////// end JOIN CARD */

/* ++++++++ COMPANY SPOTLIGHT CARD +++++++++ */
 main.home div.spotlight-container {
    border: none;
    box-shadow: none;
    align-items: stretch;
}

main.home div.spotlight-container div {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    text-align: center;
    margin: 0 0 2rem 0;
    /* width: 100%; */
}

.spotlight-container div h3 {
    text-align: center;
    color: white;
}

.spotlight-container div img {
    margin-top: 1.5rem;
    max-width: 6rem;
}

.spotlight-container div hr {
    width: 90%;
    margin: auto 0;
}

.spotlight-container div p {
    margin: 5vw 15vw;
    text-align: center;
    color: white;
}

main.home div.spotlight-container div:nth-child(3) {
    display: none;
}

.spotlight-container div a:link,
.spotlight-container div a:visited {
    color: white;
}

/* ////////// end COMPANY SPOTLIGHT CARD */

/* ///////////////////////////////////////// end MAIN */


/* ====================== FOOTER ======================*/
footer,
footer p,
footer div p {
    color: #ffffff;
    background-color: #132947;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
    /* padding: 3vw; */
    /* width: 100%; */
}

footer a:link,
footer a:visited {
    color: #ffffff;
}

footer img {
    margin: 5vw auto 2vw auto;
    max-width: 6rem;
    object-fit: contain;
}

footer div.contact-info-container {
    margin: auto auto 2vw auto;
}

footer div.contact-info-container * {
    padding: 0;
    margin: 0;
    text-align: center;
}

footer div.contact-info-container h2 {
    color: #ffffff;
    background-color: transparent;
    font-size: min(5vw, 20px);
    font-weight: 700;
}

footer div p.footer-contact-info.phone {
    margin: 2.5vw auto 2vw auto;
}

/* footer div p.footer-contact-info.map {
    margin: 2vw auto 2.5vw auto;
    text-align: center;
} */

footer div.footer-divider {
    margin: 2vw auto;
    border-bottom: 1px solid rgba(255,255,255,.5);
    width: 80%;
}

footer p.fineprint {
    grid-column: 1/6;
    grid-row: 3/4;
    margin: 2vw 2vw;
    text-align: center;
}

footer p.date-last-modified {
    grid-column: 1/6;
    grid-row: 4/5;
    margin: 2vw 2vw 5vw 2vw;
    text-align: center;
}

footer .openweather-subtitle {
    color: #BFBFBF;
    margin: 2rem auto .25rem auto;
}

footer .openweather-subtitle a,
footer .openweather-subtitle a:visited {
    color: #BFBFBF;
    text-decoration: underline;
}

footer .openweather-logo {
    max-width: 6rem;
    margin: .25rem auto 1rem auto;
}

/* ====================== DISCOVER PAGE ======================*/
/* ====================== DISCOVER PAGE ======================*/
/* ====================== DISCOVER PAGE ======================*/
main.discover {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

main.discover h1 {
    color: #ffffff;
    background-color: #333333;
    text-align: center;
}

div.last-visit-container {
    margin: 10% 10%;
    box-shadow: none;
    text-align: center;
}

div.demographics-container {
    margin: 5%;
}

.demographics-container h3 {
    font-weight: 700;
    margin: 5.5% auto auto auto;
}

.demographics-container hr {
    width: 80%;
}

.demographics-p {
    margin: 4.8% 5%;
}

div.gallery-container {
    margin: 5%;
}

.gallery-card {
    margin: 5% 2%;
}

.gallery-card img {
    object-fit: contain;
    max-width: 100%;
}

.gallery-p {
    margin: 4.8% 5%;
}


/* ====================== JOIN PAGE ======================*/
/* ====================== JOIN PAGE ======================*/
/* ====================== JOIN PAGE ======================*/
main.join h1 {
    color: #ffffff;
    background-color: #333333;
    text-align: center;
}

main.join h2 {
    margin: 2.25rem auto 0 auto;
    text-align: center;
}

form.join-form fieldset {
    margin: 2rem 0;
    border: 2px solid #333333;
    padding: .5rem 2% 1.5rem;
    font-family: 'Cabin', sans-serif;
    font-weight: normal;
}

form.join-form fieldset div {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: none;
    border: none;
    width: 100%;
}

/* form.join-form fieldset:nth-of-type(1) {
    margin: .75rem 0 2rem 0;
} */

form.join-form legend {
    font-size: 1.25rem;
    color: white;
    margin: 0 1rem;
    padding: 0 .5rem;
}

form.join-form label.top {
    display: block;
    margin: 0 5%;
    padding-top: 1rem;
    color: white;
    font-size: .8rem;
    width: 70%;
    max-width: 20rem;
}

form.join-form label.top input, form.join-form label.top textarea {
    display: block;
    font-size: 1rem;
    border: solid 1px #333333;
    margin: 0 .5%;
    padding: .75rem;
    color: black;
    width: 90%;
    max-width: 20rem;
    /* background-color: #333333; */
}

form.join-form label.sbs {
    display: block;
    padding: .75rem 0;
    color: white;
}

form.join-form input.submitBtn {
    border: none;
    background-color: #FCBA03;
    padding: .75rem 1.5rem;
    margin: 0 0 4rem 2%;
    width: 96%;
    max-width: 20rem;
    font-family: 'Cabin', sans-serif;
    font-weight: normal;
}

form.join-form label.top input:required {
    border-left: red solid 6px;
}

form.join-form label.top input:required:valid {
    border-left: green solid 6px;
}

form.join-form fieldset:nth-of-type(3) h3 {
    /* color: white; */
    text-decoration: underline;
}

/* ++++++ Third Fieldset ++++++ */
main.join form.join-form fieldset:nth-of-type(3) div.join-membership-medium-view {
    display: none;
}

main.join form.join-form fieldset:nth-of-type(3) div.join-membership-small-view {
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    box-shadow: none;
    border: none;
}

main.join div h3 {
    margin: 0;
    padding: .5rem 0;
    align-self: center;
}

main.join form.join-form fieldset:nth-of-type(3) label {
    margin: 0;
    padding: 0 5% .75rem 5%;
}

main.join form.join-form fieldset:nth-of-type(3) .member-benefits-p {
    margin: 0;
    padding: .75rem 5% 0 5%;
    font-style: italic;
}



/* ====================== THANK YOU PAGE ======================*/
/* ====================== THANK YOU PAGE ======================*/
/* ====================== THANK YOU PAGE ======================*/
main.thankyou h1 {
    color: #ffffff;
    background-color: #333333;
    text-align: center;
}

main.thankyou h2 {
    margin: 2.25rem auto 0 auto;
    text-align: center;
}

main.thankyou h3 {
    margin: 1rem 5%;
}

main.thankyou p {
    margin: 1rem 5% 12rem 5%;
}

/* ====================== DIRECTORY YOU PAGE ======================*/
/* ====================== DIRECTORY YOU PAGE ======================*/
/* ====================== DIRECTORY YOU PAGE ======================*/
main.directory h1 {
    color: #ffffff;
    background-color: #333333;
    text-align: center;
}

main.directory * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

main.directory {
	margin: 0 auto;
	/* border: 1px solid #bbb; */
	padding: 0.5rem;
	/* max-width: 700px; */
	/* background-color: #eee; */
}

main.directory hr {
    margin-bottom: 1.5rem;
}

/* ======= MENU, DIRECTORY  ======= */
div.directory-menu {
	margin: 1rem auto;
	/* border: 1px solid rgba(0, 0, 0, 0.1); */
	padding: 0.5rem;
	/* background-color: #bbb; */
	text-align: center;
}

.directory-menu button {
	margin: auto 1rem;
    padding: 1rem;
}
/* end MENU, DIRECTORY //////////// */

main.directory article,
main.directory section {
	margin: 0.75rem;
}

main.directory section {
    /* border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 .5rem 1rem 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    padding: 0.5rem; */
    /* background-color: #ccc; */
}

main.directory section a {
    font-size: 0.9rem;
    font-family: 'Cabin', sans-serif;
    font-weight: normal;
    color: #FDEBB4;
}

main.directory img {
    height: 75px;
    max-width: 100%;
}

/* ======= GRID, DIRECTORY  ======= */
main.directory .grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	align-items: center;
    row-gap: 1rem;
}

main.directory .grid section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    /* flex-direction: column; */
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 .5rem 1rem 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    padding: 0.5rem;
    /* background-color: white; */
    height: 100%;
}

main.directory .grid section > * {
    margin: 0.1rem;
}

main.directory .grid section p.member-name-p {
    display: none;
}
/* end GRID, DIRECTORY ///////////// */

/* ======= LIST, DIRECTORY  ======= */
main.directory .list section {
    display: block;
    margin: 0 0;
    padding: 1rem 0.5rem;
    /* align-items: center;
    flex-direction: row;
    justify-content: left; */
    /* border-bottom: 1px solid black; */
}

main.directory .list {
	display: flex;
	flex-direction: column;
}

main.directory .list section > * {
	margin: 0 1rem;
	text-align: left;
}

main.directory .list section:nth-child(odd) {
    background-color: #404040;
}

main.directory .list section img {
	display: none;
}

main.directory .list section p.member-level-p {
	display: none;
}
/* end LIST, DIRECTORY /////////////// */

/* ======== WIREFRAMES ========*/
main.directory div.container-directory-wireframes {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

main.directory div.wireframes-directory {
    margin: 2rem;
    margin-top: 4rem;
    border: 1px solid black;
    box-shadow: 0 .5rem 1rem 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    /* max-width: 600px; */
    min-width: 35%;
    text-align: center;
    align-self: center;
}

main.directory div h2 {
    /* width: 100%; */
    text-align: center;
    margin: 0 auto auto auto;
    line-height: 2.25;
}

div.wireframes-directory a {
    display: inline-block;
    margin: 1rem;
    color: white;
    font-family: 'Cabin', sans-serif;
    font-weight: normal;
}



/* ====================== CONTACT CHAMBER PAGE ======================*/
/* ====================== CONTACT CHAMBER PAGE ======================*/
/* ====================== CONTACT CHAMBER PAGE ======================*/
main.contact-chamber h1 {
    color: #ffffff;
    background-color: #333333;
    text-align: center;
    padding: .25rem 5%;
}

main.contact-chamber h2 {
    margin: 0 auto .5rem auto;
    text-align: center;
}

main.contact-chamber h3 {
    margin: 1rem 5%;
    font-size: 20px;
}

/* ======== PAGE DESCRIPTION CARD ========*/
div.contact-title-description {
    margin-bottom: 4.5rem;
    padding: 0 5%;
}

div.contact-title-description p  {
    font-size: 1.25rem;
}

/* ======== CONTACT FORM CARD ========*/
div.contact-form-container {
    margin-bottom: 2rem;
    border: 1px solid black;
    /* box-shadow: 0 .5rem 1rem 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); */
    box-shadow: 0 .25rem .5rem 0 rgba(0,0,0,0.2);
}

div.contact-form-container p.contact-chamber-required-field-p {
    margin: 1rem auto 0 auto;
    padding: 0 5%;
    text-align: center;
}

/* ++++++++++ FORM ++++++++++ */
form.contact-form {
    margin: 0 0 2rem 0;
    border: 2px solid #333333;
    padding: .5rem 2% .5rem 2%;
    font-family: 'Cabin', sans-serif;
    font-weight: normal;
}

form.contact-form div {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: none;
    border: none;
    width: 100%;
}

/* Trying to constrain a border around form... */
/* You have to uncomment the alternate version of the HTML first */
/* div.contact-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
} */
/* div form.contact-form {
    border: 1px solid black;
    max-width: 30rem;
} */

form.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: none;
    border: none;
    /* width: 100%; */
}

form.contact-form label.top {
    display: block;
    margin: 0 5%;
    padding-top: 1rem;
    color: white;
    font-size: .8rem;
    width: 70%;
    max-width: 20rem;
}

form.contact-form label.top input, 
form.contact-form label.top textarea {
    display: block;
    font-size: 1rem;
    border: solid 1px #333333;
    margin: 0 .5%;
    padding: .75rem;
    color: black;
    width: 90%;
    max-width: 20rem;
    /* background-color: #333333; */
}

form.contact-form label.top input.plus-6px {
    width: calc(90% + 6px)
}

form.contact-form input.submitBtn {
    border: none;
    background-color: #FCBA03;
    padding: .75rem 1.5rem;
    margin: 2rem 2% 1rem 2%;
    width: 96%;
    max-width: 20rem;
    font-family: 'Cabin', sans-serif;
    font-weight: normal;
}

form.contact-form label.top input:required, 
form.contact-form label.top textarea:required {
    border-left: red solid 6px;
}

form.contact-form label.top input:required:valid,
form.contact-form label.top textarea:required:valid {
    border-left: green solid 6px;
}
/* ///////////////// end of FORM */

div.contact-form-quick-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
}

div.contact-form-quick-info div p {
    margin: 0;
}

div.contact-form-quick-info div p:nth-of-type(1) {
    font-style: italic;
}

div.contact-form-quick-info div p:nth-of-type(2),
div.contact-form-quick-info div p:nth-of-type(3),
div.contact-form-quick-info div p:nth-of-type(4),
div.contact-form-quick-info div p:nth-of-type(5) {
    font-size: 1.2rem;
}

/* ======== VISIT US CARD ========*/
/* Flex version */
/* div.visit-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    border: 1px solid black;
    box-shadow: 0 .5rem 1rem 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
div.visit-us div {
    margin-left: 10%;
}
div.visit-us p {
    margin: 0;
} */

/* Grid version */
div.visit-us {
    display: grid;
    grid-template-columns: .25fr 1fr .25fr;
    justify-items: center;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    border: 1px solid black;
    /* box-shadow: 0 .5rem 1rem 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); */
    box-shadow: 0 .25rem .5rem 0 rgba(0,0,0,0.2);
}
div.visit-us p {
    margin: 0;
}
div.visit-us h2 {
    grid-column: 1/4;
}
div.visit-us h3,
div.visit-us div,
div.visit-us hr {
    grid-column: 2/3;
}
div.visit-us div {
    /* justify-self: left; */
    margin-bottom: 1rem;
}

/* ======== POINTS OF CONTACT CARD ========*/
div.points-of-contact {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    margin-bottom: 4.5rem;
    border: 1px solid black;
    /* box-shadow: 0 .5rem 1rem 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); */
    box-shadow: 0 .25rem .5rem 0 rgba(0,0,0,0.2);
}

div.quick-contact {
    margin: 1.5rem 10%;
}

div.points-of-contact p {
    margin: 0;
}

div.points-of-contact hr {
    width: 75%;
    border-color: #BFBFBF;
}
/* ///////////////// end of CONTACT CHAMBER PAGE */