body {
    font-size: 16px;
    line-height: 1.5;
    background-color: #4e4e4e;
}

header,
nav,
main,
footer {
    margin: 1.25rem auto;
    max-width: 900px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    color: #333333;
    /* background-color: #132947; */
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

header ul {
    list-style: none;
}

header div.header-phone-socials-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #333333;
    width: 100%;
}

.header-phone-socials-container div.container-header-contact-info p {
    color: #ffffff;
    /* width: 80%;
    text-align: center; */
    font-size: 3vw;
}

.header-socials-subcontainer img {
    max-width: 5vw;
    margin: auto .5vw 2vw .5vw;
}

header div.header-title-nav-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    background-color: #132947;
    width: 100%;
    min-height: 20vw;
}

.header-title-nav-container img {
    margin-left: 3vw;
    max-width: 25vw;
    object-fit: contain;
}

.header-title-nav-container h1 {
    grid-column: 2/5;
    margin-left: 3vw;
    font-size: max(4vw, 12px);
    line-height: 1.25;
    background-color: transparent;
}

.header-title-nav-container button {
    grid-column: 6/7;
    border: none;
    font-size: 6vw;
    background-color: transparent;
    color: #f9fafa;
}

nav {
    width: 100%;
    /* height: 100%; */
    margin: 0 auto;
    background-color: #132947;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
}

nav ul {
    display: none;
}

nav ul.open {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    border: .5px solid #d0d4da;
    color: #f9fafa;
    background-color: #42546c;
    width: 100%;
}

nav ul li a {
    display: block;
    margin: 0;
    padding: 2vw;
    text-align: center;
}

nav a:link,
nav a:visited {
    color: #ffffff;
}

header .header-currentdate-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #333333;
    width: 100%;
}

p.header-currentdate {
    color: #ffffff;
    margin: 1vw;
    font-size: min(3.5vw, 16px);
    font-family: 'Cabin', sans-serif;
    font-weight: normal;
}



a:link,
a:visited {
    text-decoration: none;
}

a:hover,
a:active {
    text-decoration: underline;
}

/* ====================== MAIN ======================*/
main {
    display: flex;
    flex-direction: column;
}


main div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1vw;
    border: 1px solid white;
    background-color: #575757;
}

main div p {
    color: #ffffff;
    margin: 2vw;
    /* height: 25vw; */
}

/* ------------------ ALL CARDS ------------------*/
.card-container {
    box-shadow: #FCBA03;
}

.card-heading {
    font-size: 6.25vw;
    font-weight: 700;
    color: #FCBA03; /* LARGE text safe */
    /* color: #FDD977; NORMAL text safe */
    background-color: #234577;
    text-align: center;
    vertical-align: center;
    width: 100%;
    height: 100%;
}

.card-subheading {
    font-size: 5.75vw;
    text-align: center;
}

p.card-normal-p {
    font-size: 4.5vw;
    margin: 4vw;
}

.card-container button {
    margin: 2vw;
    width: 50%;
    height: 10vw;
    color: #ffffff;
    background-color: orange;
    font-family: 'Cabin', sans-serif;
}

/* ////////// end ALL CARDS */

/* ++++++++ HERO CARD +++++++++ */

.hero-img {
    position: relative;
}

/* ////////// end HERO CARD */

/* ++++++++ EVENT CARD +++++++++ */

/* ////////// end EVENT CARD */

/* ++++++++ WEATHER CARD +++++++++ */
.weather {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    max-width: 100%;
}

.weather p.card-heading {
    grid-column: 1/3;
    margin: 2vw 0;
    max-width: 100%;
    height: auto;
}

.weather img {
    width: 40vw;
}

p.temperature {
    font-size: 10vw;
}

.weather span {
    font-family: 'Cabin', sans-serif;
}

.forecast {
    grid-column: 1/3;
    justify-self: end;
    margin-right: 5vw;
    font-size: 6vw;
    font-weight: 700;
}

.weather hr {
    grid-column: 1/3;
    width: 90%;
}

.weather table {
    grid-column: 1/3;
    margin: 2vw auto;
    width: 100%;
    color: #ffffff;
    font-family: 'Cabin', sans-serif;
}

.weather table tbody {
    /* margin: auto 10vw; */
}

.weather table td {
    margin: auto 5vw;
    text-align: center;
}

/* ////////// end WEATHER CARD */

/* ++++++++ NEWS CARD +++++++++ */

/* ////////// end NEWS CARD */

/* ++++++++ JOIN CARD +++++++++ */
.join {
    display: none;
}
/* ////////// end JOIN CARD */

/* ++++++++ COMPANY SPOTLIGHT CARD +++++++++ */

main div.company-spotlight {
    /* min-width: 100%; */
}

main div .company-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2vw;
    margin: 2vw;
    border: 1px solid #ffffff;
    min-height: 100%;
}

main div .company-card.company-3 {
    display: none;
}

.company-card p.card-heading {
    width: 100%;
}

.company-card img {
    /* max-width: 20vw; */
}

p.company-tagline {
    font-size: 5vw;
    width: 100%;
    text-align: center;
}

.company-card hr {
    width: 90%;
}

p.spotlight-fineprint {
    font-size: 5vw;
    width: 80%;
    text-align: center;
    min-height: 100%;
}
/* ////////// end COMPANY SPOTLIGHT CARD */

/* ///////////////////////////////////////// end MAIN */


/* ====================== FOOTER ======================*/
footer,
footer p,
footer div p {
    color: #ffffff;
    background-color: #132947;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 3vw; */
    /* width: 100%; */
}

footer a:link,
footer a:visited {
    color: #ffffff;
}

footer img {
    margin: 5vw auto 2vw auto;
    max-width: 6rem;
    object-fit: contain;
}

footer div.contact-info-container {
    margin: auto auto 2vw auto;
}

footer div.contact-info-container * {
    padding: 0;
    margin: 0;
}

footer div.contact-info-container h2 {
    color: #ffffff;
    background-color: transparent;
    font-size: min(5vw, 20px);
    font-weight: 700;
}

footer div p.footer-contact-info.phone {
    margin: 2.5vw auto 2vw auto;
    text-align: center;
}

footer div p.footer-contact-info.map {
    margin: 2vw auto 2.5vw auto;
    text-align: center;
}

footer div.footer-divider {
    margin: 2vw auto;
    border-bottom: 1px solid rgba(255,255,255,.5);
    width: 80%;
}

footer p.fineprint {
    grid-column: 1/6;
    grid-row: 3/4;
    margin: 2vw 2vw;
    text-align: center;
}

footer p.date-last-modified {
    grid-column: 1/6;
    grid-row: 4/5;
    margin: 2vw 2vw 5vw 2vw;
    text-align: center;
}

h1 {
    color: #ffffff;
    background-color: #333333;
    /* font-size: 30px; */
    font-size: min(7vw, 30px);
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

h2 {
    color: #fcba03;
    background-color: #234577;
    /* font-size: 25px; */
    font-size: min(6vw, 25px);
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
}

h3 {
    color: #000000;
    /* font-size: 20px; */
    font-size: min(5vw, 20px);
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
}

p {
    color: #333333;
    /* font-size: 16px; */
    /* font-size: min(4vw, 16px); */
    font-family: 'Cabin', sans-serif;
    font-weight: normal;
}