/* LARGE */
@media only screen and (min-width: 64rem) {
    /* ================ HOME PAGE ================*/
    /* ================ HOME PAGE ================*/
    /* ================ HOME PAGE ================*/
    
    /* ============== HEADER ==============*/
    header {
        display: grid;
        grid-template-columns: 1.25fr 2fr .5fr;
    }

    /* ++++++++ CONTACT +++++++++ */
    .contact {
        grid-column: 3/4;
        grid-row: 1/2;
        padding: 0;
        background-color: #132947;
    }

    .contact div {
        display: none;
    }

    .contact img {
        max-width: 1.5rem;
    }

    /* ++++++ NAV BAR +++++++ */
    .logo-hamburgerbtn {
        justify-content: flex-start;
    }

    .logo-hamburgerbtn a {
        max-width: 8rem;
        margin: auto 1rem auto 1rem;
    }

    .logo-hamburgerbtn a img {
        max-width: 8rem;
    }

    .logo-hamburgerbtn h1 {
        font-size: 1.5rem;
        max-width: 100%;
    }

    .logo-hamburgerbtn div {
        display: none;
    }

    /* ++++++++ NAV +++++++++ */
    nav,
    nav.open {
        display: flex;
        justify-content: space-between;
        margin: 0;
    }
    
    nav ul,
    nav ul.open {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        list-style-type: none;
        width: 100%;
    }

    nav ul li {
        margin: auto 2%;
        border: none;
        font-size: 1rem;
        color: white;
    }

    nav ul li:hover {
        background-color: #224576;
    }
    
    nav ul li a {
        display: block;
        background-color: transparent;
    }

    /* ++++ CURRENT DATE +++++ */
    .date-container {
        grid-column: 1/4;
        font-size: 1rem;
    }

    /* /////////////////////// end HEADER */

    /* =============== MAIN ===============*/
    main.home {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: 1fr .5fr 1fr;
        column-gap: .5rem;
        row-gap: .5rem;
        justify-items: stretch;
        margin: auto auto 3rem auto;
    }

    /* +++++++ ALL CARDS +++++++*/
    main.home div {
        margin: .1rem 1% .1rem 1%;
    }

    main.home div h2 {
        font-size: 1.5rem;
        margin: 0;
        padding: 0;
    }
    main.home div h3 {
        font-size: 1.25rem;
        margin: .75rem 5%;
        width: inherit;
    }

    main div p {
        margin: .5rem .2rem;
    }

    main div button {
        font-size: 1rem;
        margin: .5rem 5%;
        padding: .5rem 1.75rem;
    }

    /* ++++++ HERO CARD +++++++ */
    div.hero-card {
        grid-column: 2/3;
        grid-row: 1/3;
    }

    .hero-card h1 {
        font-size: 2.25rem;
        top: 14vw;
    }

    main.home div.hero-card h2 {
        font-size: 1.2rem;
        top: 23vw;
        margin: 0 0;
        padding: 0;
    }

    .hero-card img {
        height: 100%;
        object-fit: cover;
    }

    .hero-card button {
        bottom: 7rem;
        top: initial;
        padding: 1rem 3rem;
        font-size: 1.5rem;
    }

    /* +++++++ NEWS CARD ++++++++ */
    main.home div.news-card {
        grid-column: 2/3;
        grid-row: 3/4;
        justify-content: space-between;
    }
    
    .news-card h2 {
        align-self: start;
    }

    .news-card p {
        font-size: 1rem;
        margin: .5rem 1.5rem;
    }

    .news-card button {
        margin-bottom: 1rem;
    }

    /* ++++ SPOTLIGHT CARD ++++ */
    main.home div.spotlight-container {
        grid-column: 3/4;
        grid-row: 1/4;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: space-between;
        border: none;
        box-shadow: none;
    }

    main.home div.spotlight-container div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;
        margin: 0 0 .75rem 0;
        height: 100%;
    }

    main.home div.spotlight-container div h2 {
        font-size: 1.5rem;
        width: initial;
        line-height: 1.3;
        padding: 1rem 5%;
    }

    .spotlight-container img {
        margin: 0rem 0rem;
        object-fit: contain;
        max-width: 8rem;
        align-self: center;
    }

    main.home div.spotlight-container div h3 {
        margin: 1.5rem 5% 1rem 5%;
        font-size: 1.25rem;
    }

    .spotlight-container div hr {
        align-self: center;
        width: 90%;
        margin: .1rem;
    }

    .spotlight-container div p {
        margin: 1rem 5%;
        font-size: 1rem;
        letter-spacing: 1px;
    }

    main.home div.spotlight-container div:nth-child(3) {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        margin: 0;
    }
    .spotlight-container div:nth-child(3) h2 {
        align-self: stretch;
    }

    /* ++++++ JOIN CARD +++++++ */
    main.home div.join-card {
        grid-column: 1/2;
        grid-row: 3/4;
        justify-content: space-evenly;
    }

    .join-card button {
        font-size: 1.15rem;
        margin: 1rem auto;
    }

    .join-card p {
        margin: .5rem 1rem;
        font-size: 1rem;
    }

    /* ++++++ EVENT CARD +++++++ */
    .event-card {
        grid-column: 1/2;
        grid-row: 1/2;
        margin: .1rem;
        justify-content: space-between;
    }

    .event-card p {
        font-size: 1rem;
        margin: .5rem 5%;
    }

    .event-card button {
        margin-bottom: 1.25rem;
    }

    /* +++++ WEATHER CARD ++++++ */
    .weather-card {
        grid-column: 1/2;
        grid-row: 2/3;
        margin: .1rem;
        grid-template-rows: max-content max-content max-content max-content max-content;
    }

    .weather-card h2 {
        margin: 0;
        align-self: start;
        justify-self: stretch;
    }

    .weather-card img {
        width: 4rem;
        margin: .1rem;
    }

    .temperature {
        font-size: 3rem;
        margin: .1rem;
    }

    .forecast {
        font-size: 1.75rem;
    }

    .weather-card hr {
        margin: .5rem;
    }

    .weather-card td {
        padding: .1rem .7rem;
    }
    /* ////////////////////////// end MAIN */
    
    /* ============== FOOTER ==============*/
    footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr .125fr .35fr .25fr .125fr .125fr;
        justify-items: center;
        width: 100%;
    }

    footer img {
        padding: 0;
        margin: 3vw auto;
        max-width: 8rem;
    }

    footer div.contact-info-container {
        grid-column: 2/6;
        justify-self: center;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        margin: 3vw auto;
        padding: 0;
        width: 100%;
    }

    footer div.contact-info-container h2,
    footer div.contact-info-container .street,
    footer div.contact-info-container .city-state-zip {
        grid-column: 1/2;
    }

    div.contact-info-container h2 {
        font-size: min(5vw, 20px);
    }

    footer div p.footer-contact-info.phone {
        grid-column: 2/3;
        grid-row: 2/3;
        padding: 0;
        margin: 0;
    }

    footer div p.footer-contact-info.map {
        grid-column: 2/3;
        grid-row: 3/4;
        padding: 0;
        margin: 0;
    }

    footer div.footer-divider {
        grid-column: 1/6;
        grid-row: 2/3;
        padding: 0;
        margin: .5vw;
        width: 95%;
    }

    footer p.fineprint {
        grid-column: 1/6;
        grid-row: 3/4;
        padding: 0;
        margin: 0;
    }

    footer p.date-last-modified {
        grid-column: 1/6;
        grid-row: 4/5;
        padding: 0;
        margin: 0;
    }

    footer .openweather-subtitle {
        grid-column: 2/5;
        grid-row: 5/6;
        margin: 3rem auto 0 auto;
        text-align: center;
    }

    footer .openweather-logo {
        grid-column: 3/4;
        grid-row: 6/7;
        margin: .5rem auto;
        max-width: 6rem;
    }
    /* //////////////////////// end FOOTER */



    /* ============== DISCOVER PAGE ==============*/
    /* ============== DISCOVER PAGE ==============*/
    /* ============== DISCOVER PAGE ==============*/
    main.discover h1 {
        margin: 4% 0;
    }



    /* ================ JOIN PAGE ================*/
    /* ================ JOIN PAGE ================*/
    /* ================ JOIN PAGE ================*/
    main.join {
        max-width: 75%;
        margin: auto;
    }
    
    form label.sbs {
        padding: .4rem 0;
    }



    /* ============== THANK YOU PAGE ==============*/
    /* ============== THANK YOU PAGE ==============*/
    /* ============== THANK YOU PAGE ==============*/
    main.thankyou {
        max-width: 75%;
        margin: auto;
    }



    /* ============ DIRECTORY YOU PAGE ============*/
    /* ============ DIRECTORY YOU PAGE ============*/
    /* ============ DIRECTORY YOU PAGE ============*/
    main.directory .list section {
        display: grid;
        grid-template-columns: minmax(140px, 1fr) minmax(140px, 1fr) minmax(140px, 1fr) minmax(140px, 1fr);
    }

    main.directory .list section a {
        overflow-wrap: break-word;
    }



    /* =========== CONTACT CHAMBER PAGE ============*/
    /* =========== CONTACT CHAMBER PAGE ============*/
    /* =========== CONTACT CHAMBER PAGE ============*/
    main.contact-chamber {
        display: grid;
        grid-template-columns: 1fr .5fr;
        justify-items: stretch;
    }

    main.contact-chamber h1 {
        grid-column: 1/3;
        grid-row: 1/2;
        padding: 0.25rem 0;
    }

    /* +++ PAGE DESCRIPTION CARD +++ */
    div.contact-title-description {
        grid-column: 1/3;
        grid-row: 2/3;
    }

    div.contact-title-description p {
        font-size: 1.5rem;
    }

    /* ============= FORM ============= */
    div.contact-form-container {
        grid-column: 1/2;
        grid-row: 3/5;
        align-self: stretch;
    }
    /* //////////////////// end of FORM */

    /* +++++ VISIT US CARD +++++*/
    div.visit-us {
        grid-column: 2/3;
        grid-row: 3/4;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 0;
    }

    div.visit-us div:nth-of-type(2) {
        margin-bottom: 1.5rem;
    }

    /* +++ POINTS CONT. CARD +++ */
    div.points-of-contact {
        grid-column: 2/3;
        grid-row: 4/5;
        align-items: center;
        padding-bottom: 1.5rem;
    }

    div.points-of-contact h2 {
        margin-bottom: 1.5rem;
    }

    div.points-of-contact div {
        margin: 0 2% .5rem 4%;
        padding-bottom: .5rem;
        border-bottom: 1px solid #BFBFBF;
    }

    div.points-of-contact div:nth-of-type(5) {
        border-bottom: none;
    }

    div.points-of-contact hr {
        display: none;
    }

} /*end large */