/* SMALL */
@media only screen and (min-width: 25rem) {
    .hero-card h1 {
        top: 1rem;
        font-size: 1.75rem;
    }
    
    .hero-card h2 {
        top: 6rem;
        font-size: 1.25rem;
    }
    .hero-card button {
        bottom: 1rem;
    }

} /*end SMALL */